/*-------------------------------------------Imported Google Fonts*/

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap'); */

/*-------------------------------------------Global Font-Size set to 10px*/

/* * {
	font-size: 10px;
} */

/*-------------------------------------------General*/


.container {
    width: 90%;
}

/*-------------------------------------------Review Page*/

.collapsible-header .btn {
    margin: 0.5rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


