/*-------------------------------------------Imported Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

/*-------------------------------------------Global Font-Size set to 10px*/

* {
	font-size: 10px;
}


/*-------------------------------------------General*/

.container {
  width: 95%;
}

html,  
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", serif;
  color: #000000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.55rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

em {
  font-size: 1rem;
}

a {
  font-size: 1.3rem;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5;
  border: 1px solid black;
}

/*-------------------------------------------NavBar*/

.brand-logo {
  padding: 0;
  margin-left: 2rem;
}

/*-------------------------------------------Home Page*/

.hero-image {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.hero-image-text {
  position: absolute;
  top: 15px; 
  left: 30px; 
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  align-content: center;
}

.hero-image-text h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.hero-image-text h2 {
  font-size: 2rem;
  margin-top: 0px;
}

.side-image-top {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

.side-image-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
}

.side-image-txt h3 {
  margin: 5px;
  padding: 5px;
}

.side-image-btm {
  margin-top: 15px;
}

/*-------------------------------------------Home Page About Section*/



/*-------------------------------------------Reviews Page*/

.review-image {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.review-content h4 {
  font-size: 1.75rem;
}

.review-content h4.fas {
  color: gold;
}

.review-content h4.far {
  color: gold;
}

/*-------------------------------------------Sign Up/In Forms*/

.signup-form {
  margin: auto;
  padding: 0 20rem 0 20rem;
  align-content: center;
}

.form-heading {
  margin-bottom: 1rem;
  padding-left: 0.2rem;
}

#submit {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  margin-top: 1.25rem;
}

#cancel-submit {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 1.25rem;
}

label.form-label {
  margin: 0;
  padding: 0rem;
}

.form-label {
  font-size: 1.25rem;
  background: rgb(255, 255, 255);
  padding-top: 0;
  margin-top: 0;
}

#username {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(184, 178, 178, 0.986);
}

#password {
background: rgb(255, 255, 255);
border: 1px solid rgba(184, 178, 178, 0.986);
}

#post-description {
  font-size: .75rem;
}

.form-heading {
  margin-top: 1rem;
}

.select-dropdown li span {
  font-size: 1rem;
  color: #000000;
}

.form-panel {
  margin: 0;
}

/*-------------------------------------------Media Queries*/

@media only screen and (max-width: 600px) {
  .side-image-btm {
    margin-top: 15px;
  }

  .flashes h3 {
      line-height: 2;
  }
}

@media only screen and (max-width: 768px) {
  .hero-image {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .side-image {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hero-image-text h1 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .hero-text h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .side-image-txt h3 {
    font-size: 0.9rem;
  }

  .review-content {
    text-align: center;
  }

  .brand-logo {
    padding: 0;
    margin: 0;
  }

  .signup-form {
    margin: auto;
    padding: 0 2rem 0 2rem;
    align-content: center;
  }
}






