/*-------------------------------------------Imported Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

/*-------------------------------------------Global Font-Size set to 10px*/

* {
	font-size: 10px;
}

.container {
  width: 100%;
}

/*-------------------------------------------General*/

html,  
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", serif;
  color: #000000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.55rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

em {
  font-size: 1rem;
}

a {
  font-size: 1.3rem;
}

.btn {
  color: white;
  background-color: #0065BF;
  border-radius: .25rem;
  border: 1px solid black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.uppercase {
  text-transform: uppercase;
	font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.flashes {
  background-color: #89b4da;
}

.modal {
  width: 40%;
}

/*-------------------------------------------NavBar*/


.brand-logo a {
  padding: 0;
  margin-left: 2rem;
  color: white;
  font-size: 1rem !important;
}

.nav-extended {
  background-color:#0065BF;
}

.nav-wrapper ul a {
  color: white;
}

nav .brand-logo {
  padding-left: 1rem;
}

/*-------------------------------------------Home Page*/

.hero-image {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.hero-image-text {
  position: absolute;
  top: 1.5rem; 
  left: 2.8rem; 
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-right: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: .5rem 1.5rem;
  align-content: center;
}

.hero-image-text h1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2.5rem;
}

.hero-image-text h2 {
  font-size: 2rem;
  margin-top: 0;
}

.side-image-top {
  position: relative;
  text-align: center;
  margin-top: 1.5rem;
}

.side-image-btm {
  margin-top: 1.5rem;
}

/*-------------------------------------------Reviews Page*/

.review-image {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}

.review-content h4 {
  font-size: 1.75rem;
}

.review-content h4.fas {
  color: gold;
}

.review-content h4.far {
  color: gold;
}

/*-------------------------------------------Sign Up/In Forms*/

.signup-form {
  margin: 2.5rem 15rem 2.5rem 15rem;;
  padding: 0 20rem 0 20rem;
  align-content: center;
}

.form-heading {
  margin-bottom: 1rem;
  padding-left: 0.2rem;
}

#submit {
  background-color: #0065BF;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  margin-top: 1.25rem;
}

#submit:hover {
  background-color: black;
  color: white;
}

#cancel-submit {
  background-color: #0065BF;
  border-radius: .5rem;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 1.25rem;
}

#cancel-submit:hover {
  background-color: black;
  color: white;
}

label.form-label {
  margin: 0;
  padding: 0;
}

.form-label {
  font-size: 1.25rem;
  padding-top: 0;
  margin-top: 0;
}

.card-panel {
  padding: 1rem;
  margin-bottom: 1rem;
}

#username {
  border: 1px solid rgba(184, 178, 178, 0.986);
}

#password {
border: 1px solid rgba(184, 178, 178, 0.986);
}

/*-------------------------------------------Add/Edit Forms*/

.edit-form, .add-form {
  margin: 0 15rem 2.5rem 15rem;;
  padding: 0 20rem 2.5rem 20rem;
  align-content: center;
}

.form-heading {
  margin-top: 1rem;
}

.select-dropdown li span {
  font-size: 1rem;
  color: #000000;
}

.form-panel {
  margin: 0;
}

button, input, optgroup, select, textarea {
  font-family: "Open Sans", serif;
  color: #000000;
  font-size: 1.5rem;
}

#post_description {
  font-size: 1.1rem;
}

/*-------------------------------------------Delete Form*/

#post-title {
  font-size: 2rem;
}

.delete-form {
  margin: 0 15rem 2.5rem 15rem;;
  padding: 0 20rem 2.5rem 20rem;
  align-content: center;
}

/*-------------------------------------------Footer*/

.page-footer {
  background-color: #0065BF;
  padding-top: 0;
}

.social-links {
	padding-top: 0;
}

.social-links li a i {
	width: 2rem;
	height: 2rem;
	padding: 1.1rem 0;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 1.5rem;
	color: #ffffff;
}

.list-inline-item {
  display: inline-block;
}

.footer-copyright {
  padding-top: 0;
  margin: 0;
}

/*-------------------------------------------Media Queries*/


@media only screen and (max-width:600px) {
  .hero-image {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .side-image-btm {
    margin-top: 1.5rem;
  }

  .hero-image-text h1 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .hero-text h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .review-content {
    text-align: center;
  }

  .brand-logo a {
    padding: 0;
    margin: 0;
  }

  nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
  }

  .signup-form {
    margin: auto;
    padding: 0 2rem 0 2rem;
    align-content: center;
  }

  .edit-form, .add-form, .delete-form {
    margin: auto;
    padding: 0 2rem 1rem 2rem;
    align-content: center;
  }

  .page-footer {
    text-align: center;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .signup-form {
    margin: auto;
    padding: 0 2rem 0 2rem;
    align-content: center;
  }

  .edit-form, .add-form, .delete-form {
    margin: auto;
    padding: 0 3rem 1rem 3rem;
    align-content: center;
  }
  }