{% extends "base.html" %}
{% block content %}
<h1>Add Review</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert-warning">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>
        {{ form.category_name.label }}<br>
        {{ form.category_name(cols="120", rows="3") }}<br>
        {%  for error in form.category_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.post_title.label }}<br>
        {{ form.post_title(cols="120", rows="3") }}<br>
        {%  for error in form.post_title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    </div>
    <p>
        {{ form.post_description.label }}<br>
        {{ form.post_description(size=80) }}<br>
        {%  for error in form.post_description.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image_url.label }}<br>
        {{ form.image_url(size=80) }}<br>
        {%  for error in form.image_url.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class="not-collapse btn black") }}</p>
    </div>
</form>
{%  endblock %}