{% extends "base.html" %}
{% block content %}

<!-- Hero Image -->
<section class="row">
  <div class="col m8 s12 hero-image">
    <img
      class="responsive-img"
      src="{{ url_for('static', filename='images/nc5001.jpg') }}"
      alt="Image of xxx"
    />
    <div class="hero-image-text center-align">
      <h1>Discover Scotland’s Ultimate Road Trip directly from people who have travelled it.</h1>
      <a
        href="{{ url_for('get_posts') }}"
        class="btn"
        >Read Reviews</a
      >
    </div>
  </div>

  <!-- Side Image - top -->
  <aside class="col m4 s6 side-image-top responsive-image">
      <img class="responsive-img" src="{{ url_for('static', filename='images/nc50021.jpg') }}" alt="Image of xxx"/>
  </aside>

  <!-- Side Image - bottom -->
  <aside class="col m4 s6 side-image-btm">
    <img class="responsive-img" src="{{ url_for('static', filename='images/nc50020.jpg') }}" alt="Image of xxx"/>
</aside>
  </section>

  <section class="center-align">
    <div class="container">
    <h2>North Coast 500</h2>
    <p>Your guide to Scotland's EPIC Road Trip!</p>
    <hr>
    </div>
  </section>

  
  <section class="row">
    <div class="container">
      <img
        class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5005.jpg') }}" alt="Image of xxx"/>
        <img
        class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5004.jpg') }}"alt="Image of xxx"/>
        <img
        class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5003.jpg') }}" alt="Image of xxx"/>
        <div class="row">
          <div class="col s12">
            <div class="card-panel">
              <span class="black-text"> 
                <h1 class="uppercase">What is the North Coast 500?</h1>     
                <p>The North Coast 500 is often referred to as Scotland’s Route 66. This epic road trip has been voted one of the top coastal road trips in the world. 
                  The route expands along 500 miles of stunning Highland scenery and brings with it an experience of a lifetime, taking in stunning coasts, 
                  epic mountains, and unforgettable wildlife. 
                </p>
                <p>The route is full of detour opportunities, allowing you to explore on your terms whilst allowing you to soak up the rich Scotish culture 
                  and everything it has to offer.</p>
                <p>The trip will take you through six stunning scottish regions – 
                  <a href="https://www.northcoast500.com/explore-the-route/wester-ross/" target="_blank">Wester Ross</a>, 
                  <a href="https://www.northcoast500.com/explore-the-route/sutherland/" target="_blank">Sutherland</a>,
                  <a href="https://www.northcoast500.com/explore-the-route/caithness/" target="_blank">Caithness</a>,
                  <a href="https://www.northcoast500.com/explore-the-route/easter-ross/" target="_blank">Easter Ross</a>,
                  <a href="https://www.northcoast500.com/explore-the-route/black-isle/" target="_blank">the Black Isle</a> and
                  <a href="https://www.northcoast500.com/explore-the-route/inverness-shire/" target="_blank">Inverness-shire.</a> 
                  Each one will offer its own unique experience and adventure - with memories that will last a lifetime. 
                </p>
                <p>Explore the North Coast 500 Official Website's <a href="https://www.northcoast500.com/explore-the-route/" target="_blank">Interactive Map!</a></p>
              </span>
            </div>
          </div>
        </div>
        <h1 class="uppercase">Places to stay</h1>
          <img
            class="col s12 m6 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5007.jpeg') }}" alt="Image of xxx"/>
            <img
            class="col s12 m6 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5008.jpg') }}" alt="Image of xxx"/>
            <div class="row">
              <div class="col s12">
                <div class="card-panel">
                  <span class="black-text">      
                    <p>Take your pick! The drive along the north coast 500 offers a unique selection of accommodation. How does a night in a 15th century castle sound? 
                      Or a night underneath the stars while wild camping. The abundance of choice is yours. 
                    </p>
                    <p>If you fancy local simplicity there are B&B’s dotted around everywhere, although it’s strongly advisable to book these well in advance as they fill up pretty quickly 
                      - especially in the summer months. 
                    </p>
                    <p>The route has some of the most beautiful camping spots and Scotland allows for Wild Camping, so you will never be stuck for somewhere to set up camp for the night. 
                      Take a look at this Northcoast 500 camping itinerary <a href="https://www.northcoast500.com/itinerary/happy-campers/" target="_blank">Northcoast 500 camping itinerary</a> for inspiration.  
                    </p>
                  </span>
                </div>
              </div>
            </div>
            <h1 class="uppercase">Best beaches and coastal areas</h1>
              <img
              class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc5009.jpg') }}" alt="Image of xxx"/>
              <img
              class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50010.jpg') }}" alt="Image of xxx"/>
              <img
              class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50018.jpg') }}" alt="Image of xxx"/>
                <div class="row">
                  <div class="col s12">
                    <div class="card-panel">
                      <span class="black-text">      
                        <p>You’re driving the coast of the Scottish highlands so beaches are everywhere to explore as the route hugs between inland and the coast. 
                        </p>
                        <p>The further north you travel (towards Durness) you’ll notice the sands of many beaches become much whiter and the colour of the sea much 
                          more turquoise.
                        </p>
                        <p>Durness is a great spot to explore and is famous for its spectacular sea caves. It can be very touristy here but well worth the stop. 
                          It’s here you’ll start to travel south and down the west coast which offers further spectacular coastal delights.
                        </p>
                        <p><a href="#">Read more about Durness here</a></p>
                      </span>
                    </div>
                  </div>
                </div>
                <h1 class="uppercase">The ultimate foodie trip</h1>
                  <img
                    class="col s12 m6 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50012.jpg') }}" alt="Image of xxx"/>
                    <img
                    class="col s12 m6 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50013.jpg') }}" alt="Image of xxx"/>
                        <div class="row">
                      <div class="col s12">
                        <div class="card-panel">
                          <span class="black-text">      
                            <p>When it comes to food, even the ultimate foodie will be salivating when it comes to fine Scottish cuisine. Scotland produces some 
                              of the most sought after fresh produce in the world, not surprising given it’s crystal clear coastlines and ultra fertile land. 
                            </p>
                            <p>Food and drink are at the center of Scottish culture and you’ll never taste seafood like it. Along the route you’ll have ample opportunity to 
                              discover everything Scotland has to offer in fine dining, smokeries, farmers markets, award winning food festivals and so much much more. 
                            </p>
                            <p>If you fancy the ultimate foodie trip - <a href="https://www.northcoast500.com/itinerary/food-drink/" target="_blank">take a look this itinerary</a>. 
                            </p>
                          </span>
                        </div>
                      </div>
                    </div>
                    <h1 class="uppercase">Wildlife</h1>
                    <img
                    class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50014.jpg') }}" alt="Image of xxx"/>
                    <img
                    class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50017.jpg') }}" alt="Image of xxx"/>
                    <img
                    class="col s12 m4 side-image-top side-image-btm" src="{{ url_for('static', filename='images/nc50015.jpg') }}" alt="Image of xxx"/>
                      <div class="row">
                        <div class="col s12">
                          <div class="card-panel">
                            <span class="black-text">      
                              <p>If you appreciate the beauty of wildlife then you’re in for a real treat. The scotish Highlands is home to 
                                such diverse animal life including Dolphins, Seals, Puffins, Deer and Eagles. 
                              </p>
                              <p>The beauty of this road trip is you will experience coastal wildlife on the very same day you’ll experience mountain wildlife. 
                              </p>
                              <p>If you fancy getting off land for the day, you can take a boat trip to see the thriving seabird colony at <a href="https://www.northcoast500.com/listing/dunnet-head-2/" target="_blank" >Dunnet Head and Handa Island.</a>
                              </p>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                    </section>
      

{% endblock %}