{% extends "base.html" %}
{% block content %}


<h1 class="form-heading center-align" >Sign In</h1>
{% with messages = get_flashed_messages() %}
{% endwith %}

<form class="signup-form" action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.username.label(class="form-label") }}<br>
        {{ form.username(class="form-label") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label(class="form-label") }}<br>
        {{ form.password(class="form-label") }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class="btn center-align") }}</p>
</form>
<p class="center-align">Not registered? Then <a href="{{ url_for('register') }}">sign up here</a></p>

{% endblock %}