{% extends "base.html" %}
{% block content %}
<h1>Sign In</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert-warning">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class="not-collapse btn black") }}</p>
</form>
<p>Not registered? Then please <a href="{{ url_for('register') }}">sign up here</a></p>
{% endblock %}