{% extends "base.html" %}
{% block content %}

<h3>Trip Reviews</h3>

<!-- Collapsible Accordion-->

    <ul class="collapsible">
        {% for post in posts %}
        <li>
            <div class="row collapsible-header">
                <div class="post-img col s12 m4">
                    <img class="responsive-img" src="{{ post.image_url }}" alt="image of {{ post.post_title }}" />
                </div>

                <div class="col s12 m7">
                    <h5></i>{{ post.post_title }}</h5>
                    <h5></i>{{ post.category_name }}</h5>
                </div>
            </div>

            <div class="col s9"></div>
            <div class="collapsible-body">
                <p>{{ post.post_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>


{% endblock %}