{% extends "base.html" %}
{% block content %}

<div class="container">
<h4 class="center-align uppercase">Trip Reviews</h4>
<p class="center-align">This page is dedicated to trip reviews from travellers who have experienced the magnificent North Coast 500. 
    If you’d like to share your own experience, please sign in and leave an honest review of your trip. </p>
<hr>
    <br>
        {% for post in posts %}
        <div class="row card-content">
            <div class="container">
            <div class="col s12">
                <div class="row">
                <div class="col s12 m4 l3 center-align review-image">
                    <img class="responsive-img" src="{{ post.image_url }}" alt="image of {{ post.post_title }}" />
                    <p><em>{{ post.created_by }} posted a review on {{ post.review_date }}</em></p>
                </div>
                <div class="col s12 m8 l9 review-content">
                    <h5></i>{{ post.post_title }}</h5>
                    <!--Takes user rating string and converts/displays star(s)-->
                    <div class="review-content">
                        {% if post.star_rating == "5" %}
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        {% elif post.star_rating == "4" %}
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        {% elif post.star_rating == "3" %}
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        {% elif post.star_rating == "2" %}
                        <h4 class="fas fa-star"></h4>
                        <h4 class="fas fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        {% elif post.star_rating == "1" %}
                        <h4 class="fas fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        <h4 class="far fa-star"></h4>
                        </h4>
                        {% endif %}
                    </div>
                    <p>{{ post.post_description }}</p>
                    {% if session.user|lower == post.created_by|lower %}
                    <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn">Delete Review</a>
                    <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn">Update Review</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr class="div-blue">
    <br>
   
        {% endfor %}

{% endblock %}